{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "useTabs": false,
  "singleAttributePerLine": true
}
