@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
}
html,
body * {
  font-family: 'Pretendard';
}

:root {
  --black: rgba(32, 32, 32, 1);
  --white: rgba(255, 255, 255, 1);
  --white--alter: rgba(247, 247, 247, 1);
  --gray: rgba(221, 221, 221, 1);
  --gray--light: rgba(243, 243, 243, 1);
  --gray--dark: rgba(62, 62, 62, 1);
  --label--subtle: rgba(128, 128, 128, 1);

  --green: rgba(181, 238, 232, 1);
  --green--light: rgba(235, 248, 250, 1);
  --green--dark: rgba(26, 159, 146, 1);
  --yellow: rgba(255, 232, 150, 1);
  --yellow--light: rgba(255, 252, 240, 1);
  --yellow--dark: rgba(240, 168, 0, 1);
  --blue: rgba(181, 213, 255, 1);
  --blue--light: rgba(239, 245, 253, 1);
  --blue--dark: rgba(91, 154, 236, 1);
  --purple: rgba(218, 163, 255, 1);
  --purple--light: rgba(251, 244, 255, 1);
  --purple--dark: rgba(195, 107, 254, 1);
  --red: rgba(255, 204, 207, 1);
  --red--light: rgba(255, 238, 239, 1);
  --red--dark: rgba(246, 116, 121, 1);
}
